/* import font poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/*  general settigns*/
:root
{
    --main-coolor :  #263279;
    --main-bg-color : #fbe114;
    --bg-color-hover : #eee;
    --bg-submenu : #00bcd4
}
/* reset settings */
body
{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
*
{
    box-sizing: border-box;
}
::before,::after
{
    box-sizing: border-box;
}
.login-form
{
    width: 400px;
    margin: 100px auto;
}
.box h3
{
    margin: 15px 0;
    text-align: center;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
    color: var(--main-coolor);
    font-weight: 700;
}
.form-group
{
    margin: 15px 0;
    position: relative;
}
.form-group label
{
    margin: 3px 0;
   
}
input:focus::placeholder
{
    opacity: 0;
}
.btn-login
{
    margin: 10px 0;
    width: 100%;
}
.change-login
{
   text-decoration: none;
   font-family: sans-serif;
   font-size: 18px;
   margin: 10px;
   color: #999;
   transition: all 0.5s ease;
}
.change-login:hover
{
    color: #000;
}
/* .login-alert
{
    line-height: 30px;
    padding: 0;
    vertical-align: middle;
    height: 30px;
} */


/* footer */
.footer
{
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: #fff;
     background: #999;
}
.icon-footer
{
    color: red;
}

/* 
    custom bootstrap navbar

*/
.custom-nav
{
    display: flex;
    justify-content: flex-end;
    width: 50%;
}
.lang-href
{
         color: rgba(255,255,255,.55);  
        vertical-align: -webkit-baseline-middle;
        text-decoration: none;
        font-size: 15px;
        font-weight: bold;
        margin-right: 10px;
}
.lang-href:focus
{
    text-decoration: none;
    color: rgba(255,255,255,.55);;
}


/* edit form */
.theform
{
    margin: 100px auto !important;
}
/* new members */
.all-members
{
    margin: 150px auto;
    max-width: 1100px;
    padding: 20px;
    background-color: #eee;
}
.edit-action a svg
{
    margin-left: 6px;
    cursor: pointer;
}
.edit-users
{
    color: blue;
}
.delete-users
{
    color: red;
}

.add-member
{
    text-align: center;
}
.add-member button a
{
    text-decoration: none;
    color: #fff;
}
.add-member button a:focus
{
    text-decoration: none;
}

.nav-item a.active 
{
    background-color: red !important;
} 
.star-required
{
    position: absolute;
    right: 14px;
    color: red;
    font-size: 10px;
    top: 44px;
    transition: all .3s ease;
}

/* dashboard page */
.dashboard-stats
{
    margin: 100px 0;
}
.dashboard-stats .container
{
   background-color: #f6f6f6;
}
.dashboard-stats .container .members-heading
{
    padding: 10px;
    background: black;
    color: #fff;
}
.dashboard-stats .container .member-container
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
} 

.dashboard-stats .container .member-container > div{
    margin-top: 30px;
    padding: 30px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    flex: 0 0 23%;
    display: flex;
    flex-direction: column;
}
@media (max-width: 991px) {
    .dashboard-stats .container .member-container > div{
        flex: 0 0 48%;
    }
}
@media (max-width: 767px) {
    .dashboard-stats .container .member-container > div{
        flex: 0 0 100%;
    }
}
.dashboard-stats .container .member-container > div.members-count
{
    background-color: #f44336;
}
.dashboard-stats .container .member-container > div.pending-member
{
    background-color: #009688;
}
.dashboard-stats .container .member-container > div.comment-count
{
    background-color: #673ab7;
}
.dashboard-stats .container .member-container > div.blocked-member
{
    background-color: #ff5722;
}
.dashboard-stats .container .member-container > div h3
{
    text-transform: capitalize;
    height: 60px;
    color: #fff;
}
.dashboard-stats .container .member-container > div span
{
    display: block;
    font-size: 60px;
    font-weight: bold;
}
.dashboard-stats .container .member-container > div span a{
    text-decoration: none;
    color: #fff;
}

/* table all members */

table tbody tr.pending-members
{
    background: tomato;
    color: #fff;
}
table tbody tr.active-members
{
    background: #009688;
     color: snow !important;
}
.pending-members td
{
    color: #fff;
}
.block-users
{
    color: black;
}
.last-stats
{
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.last-stats >div
{
    flex: 0 0 45%;
    text-transform: capitalize;
}

@media (max-width: 776px) {
    .last-stats >div
        {
            flex: 0 0 100%;
            margin-bottom: 20px;
            
        }
}

/* list that containt pending member in dashbaord */
.list-activae-member
{
    display: flex;
    justify-content: space-between;
    background: #00bcd4;
    color: #fff;
}
.list-activae-member > a
{
    background: #009688;
    color: #fff;
    padding: 2px 10px;
}

/* add category form style */

.check-radio
{
border: 1px solid #ced4da ;
padding: 20px;   
}
.check-radio > label
{
    font-weight: bold;
    color: #00bcd4;;
}


/* start categories */

.categories
{
    padding: 100px 0;
}
.categories .card
{
margin-bottom: 20px;

}

.categories .card-body .card-title
{
    text-transform: capitalize;
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 10px;
    color: #333;
    cursor: pointer;
    box-shadow: 1px 2px 4px #9e9e9e45, -2px -1px 3px #9e9e9e45;
    padding: 5px;
}
.categories .card-body .card-text 
{
    margin-left: 20px;
    color: #999;
    /* margin-bottom: 40px; */
    transition: all .3s ease;
    overflow: hidden;
    max-height: 200px;
}

.cat-box
{
    display: flex;
    max-height: 200px;

}
.cat-box .cat-info
{
    flex: 0 0 60%;
}
.cat-box .cat-edit-div
{
    flex: 0 0 30%;
    text-align: end;
}
.card-body
{
  transition: all .3s ease;
  overflow: hidden;
  position: relative;
}
/* start sub vateory */
.sub-cat
{
    list-style: none;
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
}
.sub-cat li
{
    position: relative;
    margin: 10px;
    font-size: 16px;
    position: relative;
    font-weight: bold;
}
.sub-cat li::before
{
    content: "-";
}
@media (max-width:991px) {
    .cat-box
{
    display: flex;


}
    .cat-box .cat-info
    {
        flex: 0 0 70%;
        margin-bottom: 10px;
        
      
    }
    .cat-box .cat-edit-div
    {
        flex: 0 0 27%;
        justify-content: flex-end;
    } 
    .card-body .cat-edit-div a
    {
        right: -600px;
        position: relative;
    } 
    .card-body:hover .cat-edit-div a
    {
        right: 0px;
    } 
    }
@media (max-width:767px) {
    .cat-box
{
    display: flex;
    flex-direction: column;

}
    .cat-box .cat-info
    {
        flex: 0 0 100%;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
    }
    .cat-box .cat-info span
    {
        display: block;
        margin-bottom: 15px;
    }
    .cat-box .cat-edit-div
    {
        flex: 0 0 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .card-body:hover .cat-edit-div a
    {
        right: 0px;
    }   
}
.card-header 
{
    display: flex;
    justify-content: space-between
}
.card-header .oredring
{

    display: inline-block;
}
.card-header .oredring > a
{
    margin-right: 5px;
}
.card-body
{
  transition: all .3s ease;
  overflow: hidden;
  position: relative;
}
.card-body:hover
{
    background-color: #ddd;
}

.cat-box .cat-edit-div a
{
    display: inline-block;
    padding: 4px 20px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    right: -12000px;
}
.card-body:hover .cat-edit-div a
{
    right: 0px;
}

.cat-box .cat-edit-div a.edit-cat
{
    background-color: #3f51b5;
}
.cat-box .cat-edit-div a.cat-delete
{
    background-color: #f44336;
}
.cat-box .cat-edit-div a svg
{
    color: #fff;
}
.categories .card-body span
{
    display: inline-block;
    padding: 4px 16px;
    color: #fff;
    text-align: center;
    margin-right: 8px;
    border-radius: 6px;
}
.categories .card-body span.hidden
{
    background-color: red;
}
.categories .card-body span.show
{
    background-color: #009688;
}
.categories .card-body span.dis-com
{
    background-color: #9e9e9e;
}
.categories .card-body span.allow-com
{
    background-color: #8bc34a;
}
.categories .card-body span.DisAds
{
    background-color: #607d8b;
}
.categories .card-body span.AllowAds
{
    background-color: #00bcd4;
}



/* toogle card body */
.cat-box
{
    transition: all .3s ease;
    overflow: hidden;
    /* opacity: 1; */
}
.cat-box.hide
{
    max-height: 0;
    visibility: hidden;
    /* opacity: 0; */
}
.categories .card-body .card-text.hide
{
  
    max-height: 0;
    visibility: hidden;
}
.full,.classic
{
    border: none;
    color: #333;
}
.full.active,
.classic.active{
    background-color: #00bcd4;
    color: #fff;
}

/* select box*/
.chosen-container {
    margin-bottom: 10px;
}
.chosen-container-single .chosen-single {

    height: 34px;
    line-height: 34px;
}
.action
{
    padding: 20px 60px !important;
}

/* table with pending item */
.pending
{
    background: #ff9800;
    color: #fff !important;
}

/* CARD IN dashboard */
.last-stats .card
{
    margin-bottom: 20px;
}
.last-stats .card .list-group .list-group-item:nth-child(even):hover
{
    background-color: #eee;
}

.dashboard-comments .list-group-comment
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.dashboard-comments .list-group-comment .author
{
    flex: 0 0 18%;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: underline;
    cursor: pointer;
    color: #7f7171;

}
.dashboard-comments .list-group-comment .author a{
    cursor: pointer;
    color: #7f7171 !important;
}
.dashboard-comments .list-group-comment .author-comment
{
    flex: 0 0 80%;
    padding: 10px 9px;
    font-family: sans-serif;
    line-height: 1.5;
    background: #eee;
    position: relative;
    margin-left: 20px;
    border-radius: 5px;


}
.dashboard-comments .list-group-comment .author-comment::before
{
    content: "";
    position: absolute;
    border-width: 15px;
    left: -13px;
    border-color: transparent #eee transparent transparent;
    top: 50%;
    transform: translate(-50%, -50%);
    border-style: solid;
}

/* start tags */
.tag-container
{
    border: 1px solid #ced4da;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    flex-wrap: wrap;
    padding: 5px;
}
.tag-container .tag 
{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-right: 4px;
}

.tag-container .tag svg
{
    margin-left: 5px;
    cursor: pointer;
    font-size: 18px;
    /* padding: 22px; */
    width: 19px;
}
.tag-container input
{
    outline: none;
    border: none;
    font-size: 18px;
    padding: 7px;
    flex: 1;
}
.tag-container input:focus
{
    outline: none;
    border: none;
}
